<!DOCTYPE html>
<head>
<title>はじめてのVue.js | 4 Vue Router を活用したアプリケーション開発 2</title>
<link rel="stylesheet" href="style.css">
<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>
<body>
<div id="app">
    <nav>
        <!-- router-link によるナビゲーション定義 -->
        <router-link to="/top">トップページ</router-link>
        <router-link to="/users">ユーザー一覧ページ</router-link>
        <router-link to="/users/new?redirect=true">新規ユーザー登録</router-link>
        <router-link to="/login" v-show="!Auth.loggedIn()">ログイン</router-link>
        <router-link to="/logout" v-show="Auth.loggedIn()">ログアウト</router-link>
    </nav>
    <router-view></router-view>
</div>

<script type="text/x-template" id="user-list">
    <div>
        <div class="loading" v-if="loading">読み込み中...</div>
        <div class="error" v-if="error">{{ error }}</div>

        <!-- users がロードされたら各ユーザーの名前を表示する -->
        <div v-for="user in users" :key="user.id">
            <router-link :to="{ path: `/users/${user.id}` }">{{ user.name }}</router-link>
        </div>
    </div>
</script>
<script type="text/x-template" id="user-detail">
<div>
    <div class="loading" v-if="loading">読み込み中...</div>
    <div class="error" v-if="error">{{ error }}</div>

    <div v-if="user">
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</p>
    </div>
</div>
</script>
<script type="text/x-template" id="user-create">
<div>
    <div class="sending" v-if="sending">Sending...</div>

    <div>
        <h2>新規ユーザー登録</h2>
        <div>
            <label for="name">名前：</label>
            <input type="text" id="name" v-model="user.name">
        </div>
        <div>
            <label for="description">説明文：</label>
            <textarea id="description" v-model="user.description"></textarea>
        </div>

        <div class="error" v-if="error">{{ error }}</div>

        <div>
            <input type="button" @click="createUser" value="送信">
        </div>
    </div>
</div>
</script>
<script type="text/x-template" id="login">
<div>
    <h2>Login</h2>

    <p v-if="$route.query.redirect">ログインしてください</p>

    <form @submit.prevent="login">
        <label for="email"><input type="email" id="email" v-model="email" placeholder="email"></label>
        <label for="pass"><input type="password" id="pass" v-model="pass" placeholder="password"></label>

        <button type="submit">ログイン</button>
        <p class="error" v-if="error">ログインに失敗しました</p>
    </form>
</div>
</script>

<script src="app2.js"></script>
</body>