<!DOCTYPE html>
<head>
<title>はじめてのVue.js | 4 Vue Router を活用したアプリケーション開発 2</title>
<link rel="stylesheet" href="style.css">
<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>
<body>
<div id="app">
    <nav>
        <!-- router-link によるナビゲーション定義 -->
        <router-link to="/top">トップページ</router-link>
        <router-link to="/users">ユーザー一覧ページ</router-link>
    </nav>
    <router-view></router-view>
</div>

<script type="text/x-template" id="user-list">
    <div>
        <div class="loading" v-if="loading">読み込み中...</div>
        <div class="error" v-if="error">{{ error }}</div>

        <!-- users がロードされたら各ユーザーの名前を表示する -->
        <div v-for="user in users" :key="user.id">
            <router-link :to="{ path: `/users/${user.id}` }">{{ user.name }}</router-link>
        </div>
    </div>
</script>
<script type="text/x-template" id="user-detail">
<div>
    <div class="loading" v-if="loading">読み込み中...</div>
    <div class="error" v-if="error">{{ error }}</div>

    <div v-if="user">
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</p>
    </div>
</div>
</script>

<script src="app2.js"></script>
</body>