<!DOCTYPE html>
<head>
<title>はじめてのVue.js | 2 Vue.jsの基本</title>
<script src="https://unpkg.com/vue@2.5.17"></script>
</head>
<body>
<div id="app">
    <p>{{ items[0].name }}: {{ items[0].price }} x {{ items[0].quantity }}</p>
    <p v-if="canBuy">小計: {{ totalPrice | numberWithDelimiter }}円</p>
    <p v-if="canBuy">合計（税込）: {{ totalPriceWithTax | numberWithDelimiter }}円</p>

    <!-- 属性値に応じて、表示を出し分けする -->
    <p v-show="!canBuy" style="color:rgba(250, 80, 80, 0.829);">
        {{ 1000 | numberWithDelimiter }}円以上からご購入いただけます。
    </p>
</div>
<script src="app.js"></script>
</body>